[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = /home/vladimir/workspace/coffee-mode/
[submodule "vendor/django-mode"]
	path = vendor/django-mode
	url = git://github.com/myfreeweb/django-mode.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "vendor/projutils.el.d"]
	path = vendor/projutils.el.d
	url = git://github.com/fgallina/projutils.el.git
[submodule "vendor/Pymacs"]
	path = vendor/Pymacs
	url = git://github.com/pinard/Pymacs.git
[submodule "vendor/python.el.d"]
	path = vendor/python.el.d
	url = git://github.com/fgallina/python.el.git
[submodule "vendor/sass-mode"]
	path = vendor/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "vendor/zenburn-emacs"]
	path = vendor/zenburn-emacs
	url = git://github.com/bbatsov/zenburn-emacs.git
