[submodule "vendor/projutils.el.d"]
	path = vendor/projutils.el.d
	url = git://github.com/fgallina/projutils.el.git
[submodule "vendor/Pymacs"]
	path = vendor/Pymacs
	url = git://github.com/pinard/Pymacs.git
[submodule "vendor/python.el.d"]
	path = vendor/python.el.d
	url = git://github.com/fgallina/python.el.git
